# Ignore node_modules as it will be installed in the container
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
.next
out
build

# Ignore environment files (you should provide these separately if needed)


# Ignore local development files
.DS_Store
*.swp
*.log
.vscode/
.idea/
*.cache
coverage
.git
